<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--  Database connection properties -->
		
 		
		 	
        
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/capg</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Ashu1234@@</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property> 		
				
		
		
		<!-- Disable autocommit mode -->
		<property name="hibernate.connection.autocommit">
			false
		</property>
             <property name="hibernate.hbm2ddl.auto">update</property>   
		<!-- Print all generated SQL statements to the console -->
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.use_sql_comments">false</property>
		
			<!-- Use JDBC transactions -->
		<property name="hibernate.transaction.factory_class">
			org.hibernate.transaction.JDBCTransactionFactory
		</property>

		<!-- Mapping POJO to TABLE in underlying Database. -->
		<mapping class="com.capg.shadow.bean.BankBean"/>
		<mapping class="com.capg.shadow.bean.TransactionBean"/>

	</session-factory>
</hibernate-configuration>
